
html,
  body {
    border: none;
    margin: 0;
    padding: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  address,
  big,
  cite,
  code,
  em,
  font,
  img,
  small,
  strike,
  sub,
  sup,
  li,
  ol,
  ul,
  fieldset,
  form,
  label,
  legend,
  button,
  table,
  caption,
  tr,
  th,
  td {
    border: none;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-align: inherit;
  }

  blockquote::before,
  blockquote::after {
    content: "";
  }

  a,
  path {
    transition: all 0.15s linear;
  }

  html {
    font-size: 62.5%; /* 1rem = 10px */
  }

  body {
    background:url('./assets/page_bg.png');
    box-sizing: border-box;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    letter-spacing: -0.015em;
    text-align: left;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
    word-break: break-word;
    word-wrap: break-word;
  }

  #site-content {
    overflow: hidden;
  }  
  main {
    display: block;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .faux-heading {
      margin:0;
      padding:0px;  
  }

  h1,
  .heading-size-1 {
    font-size: 3.6rem;
    font-weight: 800;
    line-height: 1.138888889;
  }

  h2,
  .heading-size-2 {
    font-size: 3.2rem;
  }

  h3,
  .heading-size-3 {
    font-size: 2.8rem;
  }

  h4,
  .heading-size-4 {
    font-size: 2.4rem;
  }

  h5,
  .heading-size-5 {
    font-size: 2.1rem;
  }

  h6,
  .heading-size-6 {
    font-size: 1.6rem;
    letter-spacing: 0.03125em;
    text-transform: uppercase;
  }

  p {
    line-height: 1.5;
    margin: 0 0 1em 0;
  }

  
  .featured-heading
  {
      /* top: 1252px;
      left: 530px;
      width: 861px;
      height: 113px;  */
      text-align: center;
      font: normal normal 900 71px/111px 'Poppins', sans-serif;;
      letter-spacing: 0px;
      color: #202741;
      opacity: 1;
      
      margin: 0;
      
  }
  
  .featured-project-heading
  {
      text-align: left;
      font:normal normal 600 50px/65px  'Poppins',sans-serif;
      letter-spacing: 0px;
      color: #202741;
      opacity: 1;
  }
  
  .featured-project-line
  {
      top: 1370px;
  left: 916px;
  width: 89px;
  height: 12px;
  background: #FE5656 0% 0% no-repeat padding-box;
  border-radius: 107px;
  opacity: 1;
  margin: auto;
  /* width: 89px; */
  /* border: 3px solid green; */
  /* padding: 10px; */
  
  }
  
  .featured-project-description{
  width: 565px;
  text-align: left;
  font: normal normal 300 24px/35px 'Poppins', sans-serif;;
  letter-spacing: 0px;
  color: #202741;
  opacity: 1;
  }
  
  .featured-project-city-name
  {
      background: #202741 0% 0% no-repeat padding-box;
      border-radius: 8px;
      opacity: 1;
      float:left;
      margin-right: 30px;
  }
  
  .featured-project-city-name-text
  {
    text-align: center;
    font: normal normal 300 18px/27px 'Poppins', sans-serif;;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin: 0;
    padding: 5px 23px;
  }
  
  .featured-project-category
  {
  border: 1px solid #A1A1A1;
  border-radius: 8px;
  opacity: 1;
  float:left;
  }
  
  .featured-project-category-text
  {
  text-align: center;
  font: normal normal 300 18px/27px 'Poppins', sans-serif;;
  letter-spacing: 0px;
  color: #202741;
  opacity: 1;
  }
  
  .featured-project-button
  {
    background: #DB2D34 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
  }
  
  .featured-project-button-text
  {
    /* top: 2172px;
    left: 294px;
    width: 126px;
    height: 32px; */
    text-align: left;
    font: normal normal 300 18px/25px 'Poppins', sans-serif;;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
  }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media (min-width: 700px) {
  h1,
  .heading-size-1,
  h2,
  .heading-size-2,
  h3,
  .heading-size-3 {
    margin: 6rem auto 3rem;
  }

  h4,
  .heading-size-4,
  h5,
  .heading-size-5,
  h6,
  .heading-size-6 {
    margin: 4.5rem auto 2.5rem;
  }

  h1,
  .heading-size-1 {
    font-size: 6.4rem;
  }

  h2,
  .heading-size-2 {
    font-size: 4.8rem;
  }

  h3,
  .heading-size-3 {
    font-size: 4rem;
  }

  h4,
  .heading-size-4 {
    font-size: 3.2rem;
  }

  h5,
  .heading-size-5 {
    font-size: 2.4rem;
  }

  h6,
  .heading-size-6 {
    font-size: 1.8rem;
  }
}
@media (min-width: 1220px) {
  h1,
  .heading-size-1 {
    font-size: 8.4rem;
  }
}
ul,
ol {
  margin: 0 0 3rem 3rem;
}

ul {
  list-style: disc;
}

ul ul {
  list-style: circle;
}

ul ul ul {
  list-style: square;
}

ol {
  list-style: decimal;
}

ol ol {
  list-style: lower-alpha;
}

ol ol ol {
  list-style: lower-roman;
}

li {
  line-height: 1.5;
  margin: 0.5rem 0 0 2rem;
}

li > ul,
li > ol {
  margin: 1rem 0 0 2rem;
}

.reset-list-style,
.reset-list-style ul,
.reset-list-style ol {
  list-style: none;
  margin: 0;
}

.reset-list-style li {
  margin: 0;
}

dt,
dd {
  line-height: 1.5;
}

dt {
  font-weight: 700;
}

dt + dd {
  margin-top: 0.5rem;
}

dd + dt {
  margin-top: 1.5rem;
}
.loading svg{
  fill:#fff;
  position: fixed;
    top: 46%;
    left: 46%;
    right: 0;
    z-index: 999;
    height: 100px;
}

.loading.red svg{
  fill:red;}
.tx-read-more{
  display:none;
}
ul.pagination {
  padding: 0;
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-around;
}

ul.pagination li {
     /* float: left; */
     list-style: none;
     /* display: inline-flex; */
     /* grid-template-columns: repeat( auto-fit, minmax(165
 px
 , 1fr) ); */
     /* text-align-last: center; */
     font-size: 26px;
     cursor: pointer;
     /* justify-content: space-between; */
     margin: 0;
     padding: 0;
}
.pagi {
  position: relative;
}

.pagi img.left {
  cursor:pointer;
  position: absolute;
  left: 0;
  top: 0px;
  width: 50px;
}

.pagi img.right {
  cursor:pointer;
  position: absolute;
  right: 0;
  top: 0px;
  width: 50px;
}

.content h4 {
  font-size: 19px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.content h3 {
  font-size: 23px;
  font-weight: 400;
}

.content h3 strong {
  font-weight: 500;
}
.sticky{
z-index: 9999;
background: #001439d6;
} 
.sticky .Sticky_p {
  padding: 0px 0px !important;
    height: 66px;
}
.sticky ul li a {
  font-size: 14px !important;
  transition: all 0.35s linear;
}
.sticky .Sticky_l svg {
  width: 60%;
  transition: all 0.35s linear;
}
.Sticky_l svg {
 
  transition: all 0.35s linear;
}
.sticky .hotMenuMain {
  width: 180px;
  font-size: 14px;
  line-height: 27px;

}

.sticky .hotMenuMain span {
  padding: 13px 16px 38px;
}
.contactMainHeading{
  margin: 0px;
  font-size: 60px;
  letter-spacing: 1px;


}
h2.have {
  margin: 1% 0px 0px 0px;
  font-weight: 500;
  text-transform: uppercase;
}
@media only screen and (max-width: 1366px) {
  .sticky .hotMenuMain {
  
    line-height: 17px;
}
  .sc-iqseJM.kwSlTj .featured-heading {
    text-align: left;
   
  }
  .featured-project-line {
  
    margin: 0 auto;
   
}
.fFBWBR .right_line {
 
  left: 0 !important;

}

.fFBWBR .left_line {
 
  left: 80% !important;
 
}
img.responsive {
  width: 100%;
}
.featured-project-description{
  width: 100%;
  font-size: 16px;
}
.getinTouch{
  width: 60%;
  
  
 
}
.right_line{
  left: 12% !important;
  top: 89% !important;
  width: 35% !important;
}
.left_line{
  left: 57% !important;
  top: 89% !important;
  width: 35% !important;
}
.mainSlide{    width: 100% !important;}
.featured-project-heading {
  font-size: 40px;
}
.left_line {

  display: none;
}
.right_line{

  display: none;
}
.eFgfHc {
  padding: 50px 0px!important;}


}

@media only screen and (max-width: 1024px) {
 
  
   
  .eFgfHc {
    padding: 16px 0px!important;
}
  .maincontactsection {
    margin: 0px 0px 0px 0px !important;
    position: relative;
}
  .featured-heading{
    font-size: 50px;
    margin-bottom: -26px;


  }

  .featured-project-heading {
    font-size: 30px;
    margin-bottom: 0px;
}
  .sc-iqseJM.kwSlTj .featured-heading {
    font-size: 62px;
   
  }
  
  .mainSlide{    width: 100% !important;}
 
img.responsive {
  width: fit-content;
  position: absolute;
  top: 36px;
  right: 0;
  opacity: 0.1;
}
ul.pagination li {
  
  grid-template-columns: repeat( auto-fit, minmax(128px, 1fr) );
 
}
}

.contactMap.container:after,.contactMap.container:before {content: '';display: block;clear: both;}

.addressLeft {
    float: left;
    padding: 0px 20px;
  
    background: rgb(20, 48, 99);
    width: 40%;
    padding-bottom: 20px;
}

.addressRight {
    border-radius: 20px;
    width: 59%;
    float: right;
}

.addressRight iframe {
    width: 100%;
    height: 369px;
}

.mainSlide{
  width: 80%;
    margin: 60px auto 0;
}
.getinTouch {
  width: 61%;
  font-size: 26px;
  font-weight: 300;
  letter-spacing: 3px;
}

.contactMain {
  position: relative;
  margin-top: 40px;
}

img.contactTopimg {
  position: absolute;
  right: 31px;
  top: 26px;
}
.menuIcon {
  float: right;
  position: absolute;
  right: 10%;
  display:none;
  font-size: 56px;
  transition: all 0.35s linear;
}
.hotMenu ul {
  padding: 0;
  margin: 0;
}

.hotMenu ul li a {
  color: #333 !important;
  font-size: 14px !important;
}

@media only screen and (max-width: 1024px) {
  
  .menuIcon {
    display:block;
  }
 
    
}

.notfounded {
  color: #333;
  text-align: center;
  font-size: 28px;
  position: absolute;
  right: 0;
  left: 0;
}
.msg-alert {
  margin-top: 13px;
}

.msg-alert p {
  font-size: 19px;
}
.loction_section i.fa{
  
  margin-right: 12px;
  font-size: 24px;
}
.mailchimpform button {
  cursor: pointer;
}
div[data-popper-placement="right"] {color: #fff;background: #000 !important;padding:5px 20px;border-radius:10px;}


@media only screen and (max-width: 820px) {
  

  img.responsive {
  
    top: 5px;
   
}
  ul.pagination {
   
    width: 84%;
  
}
  h1.featured-heading.banners {
    margin: 70px 0px;
}
  ul.pagination li {
    grid-template-columns: repeat( auto-fit, minmax(67px, 1fr) );
    font-size: 20px;
}

  .pagi img.left {
      width: 50px;
}
.pagi img.right{
  width: 50px;
}

  .featured-heading {
    font-size: 50px;
   
   
}

  
  .dkXZwm {

    padding: 30px 0 !important;
    
}
.featured-project-heading {
  font-size: 24px;
  margin-bottom: 10px;
  line-height: 30px;
}
.featured-project-city-name-text {

  font-size: 14px;

}

  .Sticky_p {
    padding: 10px 0px !important;
}
  .fuAxhF {
    width: calc(100% - 0rem);
    max-width: 100% !important;
}
  .sticky .menuIcon {
    font-size: 40px;
    transition: all 0.35s linear;
}
.menuIcon {
 
  right: 5%;
  
}

}

@media only screen and (max-width: 480px) {
  h1.featured-heading.banners.custom {
    text-align: left;
    margin: 6px 0px;
}
  .dkXZwm {

    padding: 30px 20px !important;
    
}

  .addressLeft {
    width: 100%;
    margin-bottom: 20px;
   
}
.addressRight {
  width: 100%;
 
}


  .contactMain {
    padding: 20px !important;
}

  p.getinTouch {
    width: 100%;
}

img.contactTopimg {
    margin-top: 0px !important;
    float: none !important;
    width: 100%;
}

img.contactTopimg {
    margin-top: 0
px
 !important;
    float: none !important;
    width: 100%;
}




  ul.pagination li {
    grid-template-columns: repeat( auto-fit, minmax(25px, 1fr) );
    font-size: 18px;
}
  
  .pagi img.left {
  
    width: 30px;
}
.pagi img.right{
  
  width: 30px;
}


  .menuIcon {
   
    right: 4%;
    
}
  .Sticky_l svg {
   
    width: 65%;
}
.menuIcon .fa.fa-bars {
  font-size: 36px;
  position: relative;
  top: -6px;
}
  div#about .dkXZwm {
    padding-top: 0px;
}
  .maincontactsection {
    margin: 0px 0px 20px 0px !important;
   
}
  .eFgfHc {
    padding: 40px 20px !important;
}
  .featured-heading {
    font-size: 30px;
    line-height: 42px;
    text-align: left;
    margin-bottom: 0;
}
.featured-project-line {
  margin: revert;
  height: 7px;
    width: 50px;
}
.featured-project-heading {
  font-size: 26px;
  line-height: 38px;
  margin: 10px 0px;
}
.featured-project-description {

  font-size: 14px;
}
.left_line {
  left: 58% !important;
  top: 90% !important;
  width: 30% !important;

}
.right_line {
  left: 17% !important;
  top: 90% !important;
  width: 33% !important;
  height: 1px;
}

h1.featured-heading.banners {
  text-align: center;
  margin: 50px 0px;
}
.featured-project-city-name-text {
  font-size: 14px;
}
}



.disable.searchCity:before {content: '';display: block;width: 100%;background: rgb(255 255 255 / 72%);height: 100%;z-index: 999;position: absolute;}

.disable.searchCity {
    position: relative;
}